<section class="stat-block">
    <label>
        <h3>STR</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.str.dnum" class="stat-dnum" value="{{data.attributes.str.dnum}}" data-dtype="Number" />d<input name="data.attributes.str.dtype" class="stat-dtype" value="{{data.attributes.str.dtype}}" data-dtype="Number" /> + <input name="data.attributes.str.mod" class="stat-mod" value="{{data.attributes.str.mod}}" data-dtype="Number" />
    </div><br />
    <label>
        <h3>DEX</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.dex.dnum" class="stat-dnum" value="{{data.attributes.dex.dnum}}" data-dtype="Number" />d<input name="data.attributes.dex.dtype" class="stat-dtype" value="{{data.attributes.dex.dtype}}" data-dtype="Number" /> + <input name="data.attributes.dex.mod" class="stat-mod" value="{{data.attributes.dex.mod}}" data-dtype="Number" />
    </div><br />
    <label>
        <h3>INT</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.int.dnum" class="stat-dnum" value="{{data.attributes.int.dnum}}" data-dtype="Number" />d<input name="data.attributes.int.dtype" class="stat-dtype" value="{{data.attributes.int.dtype}}" data-dtype="Number" /> + <input name="data.attributes.int.mod" class="stat-mod" value="{{data.attributes.int.mod}}" data-dtype="Number" />
    </div><br />
    <label>
        <h3>WIS</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.wis.dnum" class="stat-dnum" value="{{data.attributes.wis.dnum}}" data-dtype="Number" />d<input name="data.attributes.wis.dtype" class="stat-dtype" value="{{data.attributes.wis.dtype}}" data-dtype="Number" /> + <input name="data.attributes.wis.mod" class="stat-mod" value="{{data.attributes.wis.mod}}" data-dtype="Number" />
    </div><br />
    <label>
        <h3>CON</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.con.dnum" class="stat-dnum" value="{{data.attributes.con.dnum}}" data-dtype="Number" />d<input name="data.attributes.con.dtype" class="stat-dtype" value="{{data.attributes.con.dtype}}" data-dtype="Number" /> + <input name="data.attributes.con.mod" class="stat-mod" value="{{data.attributes.con.mod}}" data-dtype="Number" />
    </div><br />
    <label>
        <h3>SOUL</h3>
    </label>
    <div class="stat-value">
        <input name="data.attributes.soul.dnum" class="stat-dnum" value="{{data.attributes.soul.dnum}}" data-dtype="Number" />d<input name="data.attributes.soul.dtype" class="stat-dtype" value="{{data.attributes.soul.dtype}}" data-dtype="Number" /> + <input name="data.attributes.soul.mod" class="stat-mod" value="{{data.attributes.soul.mod}}" data-dtype="Number" />
    </div><br />
</section>