<section class="stat-block">
    <label><h3>STR</h3></label><input class="stat-value" name="data.attributes.str" value="{{data.attributes.str}}" data-dtype="Number" />
    <label><h3>DEX</h3></label><input class="stat-value" name="data.attributes.dex" value="{{data.attributes.dex}}" data-dtype="Number" />
    <label><h3>INT</h3></label><input class="stat-value" name="data.attributes.int" value="{{data.attributes.int}}" data-dtype="Number" />
    <label><h3>WIS</h3></label><input class="stat-value" name="data.attributes.wis" value="{{data.attributes.wis}}" data-dtype="Number" />
    <label><h3>CON</h3></label><input class="stat-value" name="data.attributes.con" value="{{data.attributes.con}}" data-dtype="Number" />
    <label><h3>SOUL</h3></label><input class="stat-value" name="data.attributes.soul" value="{{data.attributes.soul}}" data-dtype="Number" />
</section>