<section class="stat-block">
    <span><h3>STR</h3><input class="stat-value" name="data.abilities.str" value="{{data.data.abilities.str}}" data-dtype="Number" /></span>
    <span><h3>DEX</h3><input class="stat-value" name="data.abilities.dex" value="{{data.data.abilities.dex}}" data-dtype="Number" /></span>
    <span><h3>INT</h3><input class="stat-value" name="data.abilities.int" value="{{data.data.abilities.int}}" data-dtype="Number" /></span>
    <span><h3>WIS</h3><input class="stat-value" name="data.abilities.wis" value="{{data.data.abilities.wis}}" data-dtype="Number" /></span>
    <span><h3>CON</h3><input class="stat-value" name="data.abilities.con" value="{{data.data.abilities.con}}" data-dtype="Number" /></span>
    <span><h3>SOUL</h3><input class="stat-value" name="data.abilities.soul" value="{{data.data.abilities.soul}}" data-dtype="Number" /></span>
</section>