<section class="skills">
    {{#each skills as |skill id|}}
    <div class="skill item" data-item-id="{{_id}}">
        <h3 class="name">{{name}}</h3>
        <h3 class="value">{{data.dnum}}d{{data.dtype}} + {{data.modifiers.total}}</h3>
        <a class="item-delete">
            <i class="fas fa-trash"></i>
        </a>
        <a class="skill-edit">
            <i class="fas fa-edit"></i>
        </a>
        <a class="skill-check">
            <i class="fas fa-dice"></i>
        </a>
    </div>
    {{/each}}
</section>