<section class="stat-block">
    <span><h3>STR</h3><input class="stat-value" name="data.attributes.str" value="{{data.attributes.str}}" data-dtype="Number" /></span>
    <span><h3>DEX</h3><input class="stat-value" name="data.attributes.dex" value="{{data.attributes.dex}}" data-dtype="Number" /></span>
    <span><h3>INT</h3><input class="stat-value" name="data.attributes.int" value="{{data.attributes.int}}" data-dtype="Number" /></span>
    <span><h3>WIS</h3><input class="stat-value" name="data.attributes.wis" value="{{data.attributes.wis}}" data-dtype="Number" /></span>
    <span><h3>CON</h3><input class="stat-value" name="data.attributes.con" value="{{data.attributes.con}}" data-dtype="Number" /></span>
    <span><h3>SOUL</h3><input class="stat-value" name="data.attributes.soul" value="{{data.attributes.soul}}" data-dtype="Number" /></span>
</section>