<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <span><input class="stat" name="data.dnum" value="{{data.data.dnum}}" />d<input class="stat" name="data.dtype" value="{{data.data.dtype}}" /></span>
        <span><label for="str">STR</label><input type="checkbox" name="data.modifiers.str" id="str" {{checked data.data.modifiers.str}} /></span>
        <span><label for="dex">DEX</label> <input type="checkbox" name="data.modifiers.dex" id="dex" {{checked data.data.modifiers.dex}} /></span>
        <span><label for="int">INT</label> <input type="checkbox" name="data.modifiers.int" id="int" {{checked data.data.modifiers.int}} /></span>
        <span><label for="wis">WIS</label> <input type="checkbox" name="data.modifiers.wis" id="wis" {{checked data.data.modifiers.wis}} /></span>
        <span><label for="con">CON</label> <input type="checkbox" name="data.modifiers.con" id="con" {{checked data.data.modifiers.con}} /></span>
        <span><label for="soul">SOUL</label> <input type="checkbox" name="data.modifiers.soul" id="soul" {{checked data.data.modifiers.soul}} /></span>

        <input type="text" name="data.key" value="{{data.data.key}}" />
    </div>
</form>