<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>Attack Stat</th>
                <th>Damage</th>
                <th>Actions Used</th>
            </tr>
            <tr>
                <td>
                    <select name="data.attackStat">
                        {{#select data.attackStat}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.useTime" type="text" value="{{data.useTime}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <div class="actions">
            <h2>Actions</h2>
            {{#each data.actions}}
            <p>heck</p>
            {{/each}}
        </div>
    </div>
</form>
